body{
background: #9a97de;
background: linear-gradient(90deg, rgba(154, 151, 222, 1) 0%, rgba(188, 188, 227, 1) 45%, rgba(125, 219, 240, 1) 100%);
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 100%;
  align-items: center;
}

.nav{
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 300px;
  background-color:  rgb(34, 33, 36);
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 1s;
}

.nav:hover{
  background-color: #4fb0ff;
  box-shadow: 10px 6px 3px  rgb(38, 40, 61) ;
}

.overview{
  background: #40b43a;
  background: linear-gradient(90deg, rgb(108, 225, 102) 0%, rgb(7, 245, 170) 50%, rgb(189, 250, 97) 100%);
  height: 20vh;
  width: 90vw;
  margin: 0px auto;
  align-items: center;
  border-radius: 25px;
  transition: 1s;
  padding: 20px;
}
.overview:hover{
  box-shadow: 10px 6px 4px #40b43a;
}
.img1 {
  border: 2px solid black;
  border-radius: 25px;
  transition: 1s;
}

.img1:hover {
  transform: scale(1.05);
  box-shadow: 5px 4px 10px rgb(43, 42, 40, 0.5);
}

.box {
  height: 60vh;
  display: flex;
  justify-content: space-around;
}
.box1 {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  height: 50vh;
  width: 50vh;
    background: #40b43a;
  background: linear-gradient(90deg, rgb(108, 225, 102) 0%, rgb(7, 245, 170) 50%, rgb(189, 250, 97) 100%);
  border: 2px solid black;
  border-radius: 25px;
  transition: 0.5s;
}

.box1:hover {
  transform: scale(1.1)
}
li{
padding: 10px;
}
@media (max-width:480px){
  nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 5px;
    text-align: center;
  }
  .overview{
    height: 15vh;
    width: 80vw;
    font-size: 8px;
  }
  .img1{
    height: 40vh;
    width: auto;
  }
  .box{
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
  }
  .box1{
    height: 30vh;
    width: 25vw;
    font-size: 8px;
   }
   li{
    padding-right: 20px;
    padding: 2px;
  }
   h2{
    font-size: 10px;
    text-align: center;
   }


}

