body{
background: #9a97de;
background: linear-gradient(90deg, rgba(154, 151, 222, 1) 0%, rgba(188, 188, 227, 1) 45%, rgba(125, 219, 240, 1) 100%);
}
nav{
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 100%;
  align-items: center;
}

.nav{
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 300px;
  background-color:  rgb(34, 33, 36);
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 1s;
}

.nav:hover{
  background-color: #4fb0ff;
  box-shadow: 10px 6px 3px  rgb(38, 40, 61) ;
}

.box{
  height: 60vh;
  width: auto;
  display: flex;
  justify-content: space-evenly;
}
img{
  height: 100%;
  width: 100%;
  border-radius: 25px;
  animation-name: cricle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.card1{
  border-radius: 25px;
  height: 60vh;
  width: 25vw;
  transition: 2s;
}

.card1:hover{
  transform: scale(1.1);
}

@keyframes cricle{
  0%{
    border-radius: 30px;
  }
  25%{
    border-radius: 125px;
  }
  50%{
    border-radius: 50%;
  }
  75%{
    border-radius: 125px;
  }
  100%{
    border-radius: 30px;
  }
}



@media (max-width:480px){
  nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    text-align: center;
  }
}