body {
  background: linear-gradient(to bottom, #9db7cc, #c7d3db, #ded9d1);
}
nav{
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 100%;
  align-items: center;
}

.nav{
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 300px;
  background-color:  rgb(34, 33, 36);
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 1s;
}

.nav:hover{
  background-color: #4fb0ff;
  box-shadow: 10px 6px 3px  rgb(38, 40, 61) ;
}

h1{
  color: coral;
}

.box{
  height: 70vh;
  width: 55vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #916115; */
}

.front, .back{
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: 1.3s;
}

.front{
  border-radius: 25px;
  background-color: rgb(17, 196, 44);
}
.back{
  border-radius: 25px;
  background-color:#9db7cc;
  transform: rotateY(180deg);
}

.box:hover .front{
  transform: rotateY(180deg);
}
.box:hover .back{
  transform: rotateY(360deg);
  box-shadow: 6px 4px 2px rgb(28, 27, 27);
}
.front img{
  height: 100%;
  width: 100%;
  border-radius: 25px;
}
.main{
  display: flex;
  justify-content: space-around;
}

h2{
  font-family:Arial, Helvetica, sans-serif;
  color: blueviolet;
}

li{
  font-size: 20px;
  padding: 14px
}
@media (max-width:768px){
  nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    text-align: center;
  }
  .main{
    
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .box{
    height: 50vh;
    width: 30vw;
  }
  h2{
    font-size: 15px;
  }
  li{
    padding: 2px;
    font-size: 10px;
  }
}