body {
  background: linear-gradient(to bottom, #9db7cc, #c7d3db, #ded9d1);
}
nav{
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 100%;
  align-items: center;
}

.nav{
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 300px;
  background-color:  rgb(34, 33, 36);
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 1s;
}

.nav:hover{
  background-color: #4fb0ff;
  box-shadow: 10px 6px 3px  rgb(38, 40, 61);
}
@media (max-width:768px){
  nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    text-align: center;
  }
}