body{
background: #9a97de;
background: linear-gradient(90deg, rgba(154, 151, 222, 1) 0%, rgba(188, 188, 227, 1) 45%, rgba(125, 219, 240, 1) 100%);
}
nav{
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 100%;
  align-items: center;
}

.nav{
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 300px;
  background-color:  rgb(34, 33, 36);
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 1s;
}

tr:nth-child(odd){
  background-color: #a1b5c5;
  text-align: center;
}
tr:nth-child(even){
  background-color: rgb(218, 207, 207);
  text-align: center;
}
tr:nth-child(odd):hover{
  background-color: #4a8cc1;
}
tr:nth-child(even):hover{
  background-color: rgb(232, 170, 170);
}

table{
  transition: 0.8s;
}

h2{
  color: rgb(4, 70, 226);
  font-size: 30px;
  width:50vw;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
  background-color: #4fb0ff;
  animation-name: change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
p::selection{
  background-color: black;
  color: #1b87e0;
}

footer{
  font-size: large;
}

@keyframes change {
  0%{
    background-color: azure;
  }
  25%{
    background-color: rgb(222, 145, 222);
  }
  50%{
    background-color: rgb(240, 192, 130);
  }
  75%{
    background-color: rgb(122, 176, 68);
  }
  100%{
    background-color: rgb(133, 232, 232);
  }
}

table:hover{
  transform: scale(1.1);
  box-shadow: 8px 6px 3px ;
}

.nav:hover{
  background-color: #4fb0ff;
  box-shadow: 10px 6px 3px  rgb(38, 40, 61);
}



@media (max-width:480px){
  nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    text-align: center;
  }
}